.control {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.control label {
  font-size: 1rem;
  font-weight: bold;
  font-family: sans-serif;
  display: none;
  @media (min-width: 40rem) {
    display: block;
  }
}
.control input {
  width: 9rem;
  border: #ccc 2px solid;
  border-radius: 4px;
  padding: 0.2rem;
  height: 100%;
  color: #151133;
  font-family: "Poppins", sans-serif;
}

.control input:focus-visible {
  outline: none;
}

.control .info {
  margin-top: 0.2rem;
  padding-left: 0.2rem;
  font-size: 0.8rem;
  font-weight: bold;
  color: rgb(185, 50, 50);
}
