.background {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#161132, #080d48);
    z-index: -1;
  }
  
  
  .images-container {
    position: absolute;
    inset: 3rem 0 0 0;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 2rem;
    overflow: auto;
  
    img {
      padding: 0.5rem;
      border: #ffffff9e 2px solid;
      box-shadow: 10px 5px 5px #1900ff29;
      border-radius: 8px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }