.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 3rem;
  border-bottom: #ffffff9e 2px solid;
  color: #ffffff9e;
  padding: 0 0.5rem;
}
  
.logo {
  display: flex;
  align-items: center;
  cursor: pointer;

  >img {
    height: 2rem;
    margin-left: -9px;
  }

  >h1 {
    font-size: 2rem;
  }
}
