.button {
  font-size: 1rem;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  color: #161133;
  background: linear-gradient(#ffffff, #ffffff9e);
  transition: all 0.3s ease;
  border: none;
}

button:hover.button {
  color: white;
  background: linear-gradient(#ffffff9e, #ffffff);
}
button:active.button {
  color: #161133;
  background: linear-gradient(#ffffff, #ffffff9e);
}

button:disabled,
button:disabled:hover,
button:disabled:active {
  background-color: #ccc;
  color: #292929;
  cursor: not-allowed;
}



