@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Merriweather&family=Poppins:wght@400;500&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  transition: all 0.2s ease-out;
}

*::-webkit-scrollbar {
  -webkit-appearance: none;
}

*::-webkit-scrollbar:vertical {
  width: 10px;
}

*::-webkit-scrollbar:horizontal {
  height: 10px;
}

*::-webkit-scrollbar-button:increment {
  display: none;
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-thumb {
  background: #353c48;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.448);
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
}

button,
input,
optgroup,
select,
textarea,
h1,
h2,
h3 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}